.hero-section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5dvw;
  align-items: center;

  .text-hero {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-hero {
    display: flex;
    justify-content: flex-end;

    img {
      cursor: pointer;
      position: relative;
      transition: all 500ms;
    }

    img:hover {
      transform: scale(1.1);
    }

    .profile-1 {
      width: calc(476px * 1);
      z-index: 3;
    }
  }
}

.profileImg {
  animation: profileImgAnimation 1s ease-in-out infinite alternate;
}

@keyframes profileImgAnimation {
  0% {
    transform: translate(0, -10px)
  }

  100% {
    transform: translate(0, 10px)
  }
}

@media only screen and (max-device-width: 480px) {
  .hero-section {
    flex-direction: column-reverse;
    margin: 1rem 1rem;


    .text-hero {
      width: 90%;

      .hero-paragraph {
        font-size: 1rem;
        line-height: 2.25rem;
      }
    }

    .image-hero {
      .profile-1 {
        width: calc(476px * 0.8);
        z-index: 3;
      }
    }

  }
}

@media only screen and (device-width: 768px) {
  .hero-section {
    flex-direction: column-reverse;
    margin: 1rem 1rem;


    .text-hero {
      width: 90%;

      .hero-paragraph {
        font-size: 1rem;
        line-height: 2.25rem;
      }
    }

    .image-hero {
      .profile-1 {
        width: calc(476px * 0.8);
        z-index: 3;
      }
    }

  }
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .hero-section {
    flex-direction: column-reverse;
    margin: 1rem 1rem;


    .text-hero {
      width: 90%;

      .hero-paragraph {
        font-size: 1rem;
        line-height: 2.25rem;
      }
    }

    .image-hero {
      .profile-1 {
        width: calc(476px * 0.8);
        z-index: 3;
      }
    }

  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}